.venv/
venv/
env/

__pycache__/
*.pyc
*.pyo

.env

*.db
*.sqlite
*.sqlite3

*.pkl
*.joblib

.ipynb_checkpoints/

.vscode/
.idea/

.DS_Store
Thumbs.db

*.log

# Livrables bureautiques / anciens rapports
*.docx
*.pdf

# Sorties générées par Spark
spark/output/

# Fichiers générés par Airflow
airflow/logs/
airflow/config/airflow.cfg